* {
  margin: 0;
  padding: 0;
  box-sizing: bordrer-box;
}

body {
  background-color: black;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  perspective: 1000px; /*flip-btn의 상위 요소이므로 여기에 3d를 위한 perspective를 넣는다 */
}

.flip-btn {
  width: 200px;
  height: 100px;
  color: white;
  text-align: center; /*수평 중앙*/
  line-height: 100px; /*어떤 요소의 height값과 line-height값이 같으면 수직 중앙 정렬된다. 단 텍스트가 한 줄일때만 가능하다.*/
  transform-style: preserve-3d; /*이제 flip-btn 하위의 요소들은 3d로 배치가 된다 */
  transition: 0.5s;
  cursor: pointer;
}
.flip-btn:hover {
  transform: rotateX(-90deg);
}
.front {
  background-color: goldenrod;
  height: 100px;
  transform: translateZ(50px);
}

.back {
  background-color: darkgoldenrod;
  height: 100px;
  transform: rotateX(90deg) translateZ(40px);
}
