* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: darkslateblue;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center; /* 아이콘도 text로 했기 때문에 중앙정렬이 가능함 */
}
.material-icons {
  font-size: 10rem;
}

.lg-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.sm-text {
  font-size: 1.5rem;
}

#dynamic {
  position: relative;
  display: inline-block; /*inline이 뭐지? 커서 위치를 유동적으로 변하게 하긴 하는데...*/
}

#dynamic::after {
  /*after라는 가상요소 가상요소는 문서의 특정 부분만을 스타일할 수 있게 만든다.*/
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

#dynamic.active::after {
  display: none;
}
